@model IEnumerable<MVCMusicStore.Models.Album>

@helper Truncate(string input, int lenght)
{
    if (input.Length <= lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
}
<br />
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-plus"></i> Create new album
        <span class="sr-only">Create new album</span>
    </a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Genre
            </th>
            <th>
                Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => album.Genre.Name)
                </td>
                <td>
                    @Truncate(album.Artist.Name, 25)
                </td>
                <td>
                    @Truncate(album.Title, 25)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => album.Price)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id=album.AlbumID })" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit this album">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                    <a href="@Url.Action("Details", new {id=album.AlbumID})" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Show album's details">
                        <i class="glyphicon glyphicon-list"></i>
                        <span class="sr-only">Details</span>
                    </a>
                    <a href="@Url.Action("Delete", new {id=album.AlbumID })" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete this album">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span class="sr-only">Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
